.greeting-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting-title {
    margin-bottom: 0.5rem;
    animation: fade-in 2s both, fade-out 500ms linear 4s forwards;
}

.greeting-subtitle {
    margin-top: 0.5rem;
    animation: fade-in 2s 1500ms both, fade-out 500ms linear 4s forwards;
}
