.home {
    position: absolute;
    top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 4rem);
    width: 100%;
    overflow: hidden;
}

.home #cartoon-ethan {
    height: 100%;
    position: absolute;
    bottom: -5rem;
    left: 3%;
    animation: fade-in 750ms;
    animation: slide-up 750ms;
}

.home .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0 0 1rem 2rem white;
    border-radius: 0.5rem;
    width: 35%;
    position: relative;
    left: 25%;
    margin: 2rem;
    padding: 0.5rem;
    animation: fade-in 750ms;
    animation: slide-left 750ms;
}

.home .info-container > h1,
.home .info-container > p {
    margin-top: 0;
}

/* Mobile View Styling */
.home.mobile {
    flex-direction: column;
}

.home.mobile #cartoon-ethan {
    position: static;
    margin-top: 3%;
    height: unset;
    width: 70%;
    animation: unset;
}

.home.mobile .info-container {
    transform: translateX(0);
    text-align: center;
    width: auto;
    position: unset;
    background: unset;
    box-shadow: unset;
    border-radius: unset;
    animation: unset;
}
