.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.home-container #cartoon-ethan {
    height: 100%;
    position: absolute;
    bottom: -5rem;
    left: 3%;
    animation: fade-in 750ms, slide-up 750ms;
}

.home-container .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0 0 1rem 2rem white;
    border-radius: 0.5rem;
    width: 35%;
    position: relative;
    left: 25%;
    margin: 2rem;
    padding: 0.5rem;
    animation: fade-in 750ms, slide-left 750ms;
}

.home-container .info-container > h1,
.home-container .info-container > p {
    margin-top: 0;
}

.home-container .social-links {
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    width: 50%;
    position: relative;
    top: 1rem;
}

.home-container .social-links > a > * {
    width: 30px;
}

/* Mobile View Styling */
.mobile .home-container {
    flex-direction: column;
}

.mobile .home-container #cartoon-ethan {
    position: static;
    margin-top: 3%;
    height: unset;
    width: 70%;
    animation: unset;
}

.mobile .home-container .info-container {
    text-align: center;
    width: auto;
    position: unset;
    background: unset;
    box-shadow: unset;
    border-radius: unset;
    animation: unset;
}
