.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slide-down 500ms;
}

.navbar .logo {
    position: relative;
    left: 2rem;
}

.navbar .logo > svg {
    height: 2rem;
}

/* Hamburger Styling */
:not(.mobile) .hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    position: relative;
    right: 1rem;
}

.hamburger > div {
    background: var(--secondary-color);
    margin: 0.25rem;
    height: 2px;
    width: 100%;
    transition: transform 500ms, width 500ms;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger:hover > div {
    background: var(--tertiary-color);
}

.hamburger.active > div.top {
    transform: translateY(10px) rotate(-315deg);
}

.hamburger.active > div.middle {
    width: 0;
}

.hamburger.active > div.bottom {
    transform: translateY(-10px) rotate(315deg);
}

/* NavbarLink Styling */
.navbar-link {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar-link > a {
    text-decoration: none;
    color: inherit;
    height: 1.5rem;
}

.navbar-link .underline {
    height: 0.25rem;
    background: var(--tertiary-color);
    visibility: hidden;
    position: relative;
    top: 0.25rem;
}

.navbar-link > a.active {
    font-weight: bold;
}

.navbar-link:hover > a,
.navbar-link:focus-within > a {
    outline: none;
    color: var(--tertiary-color);
}

.navbar-link:hover .underline,
.navbar-link:focus-within .underline {
    visibility: visible;
    animation: slide-up 250ms both;
}

/* Menu Styling */
.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    margin: auto 1rem;
}

.navbar .menu {
    position: relative;
    right: 1rem;
}

/* Mobile View Styling */
.mobile .navbar .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: var(--primary-color);
    top: 2rem;
    right: 2rem;
    height: 0;
    width: 0;
    border-radius: 100%;
    transition: top 500ms, right 500ms, height 500ms, width 500ms, border-radius 500ms;
}

.mobile .navbar .hamburger.active + .menu {
    top: 4rem;
    right: 0;
    height: calc(100vh - 4rem);
    width: 100vw;
    border-radius: 0;
}

.mobile .navbar .menu > li {
    display: revert;
    margin: 1rem 0;
    text-align: center;
    visibility: hidden;
}

.mobile .navbar .hamburger.active + .menu > li {
    animation: fade-in 500ms 500ms forwards;
}
