nav {
    position: absolute;
    top: 0;
}

nav .bar {
    background: white;
    box-shadow: 0 0 4px black;
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slide-down 500ms;
}

nav a.brand {
    margin-inline: 2rem;
}

nav a.brand > #logo-signature {
    height: 2rem;
}

nav ul {
    position: fixed;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    text-align: center;
}

nav li > a,
nav li > button {
    display: inline-block;
    margin: 0;
    padding: 1.4375rem 1.25rem;
    background: white;
    text-decoration: none;
    color: inherit;
    transition: background 0.5s;
}

nav li > a:hover,
nav li > a:focus,
nav li > button:hover,
nav li > button:focus {
    background: lightgray;
    cursor: pointer;
    outline: none;
}

nav li > button {
    cursor: pointer;
    font: inherit;
    border: none;
}

nav ul.menu {
    z-index: 3;
    right: 0;
    animation: slide-down 500ms;
}

nav ul.dropdown {
    z-index: 1;
    right: 4.25rem;
    top: -4rem;
    box-shadow: 0 0 4px black;
    visibility: hidden;
    transition: transform 500ms, visibility 500ms;
}

nav ul.dropdown > li {
    display: block;
}

nav ul.dropdown > li > a {
    width: 7rem;
}

nav ul.dropdown.show {
    visibility: visible;
    transform: translateY(100%);
}

/* Mobile View Styling */
nav.mobile ul.menu {
    top: 4rem;
    z-index: 2;
    box-shadow: 0 0 4px black;
    visibility: hidden;
    right: -12.5rem;
    transition: transform 500ms, visibility 500ms;
}

nav.mobile ul.menu.active {
    visibility: visible;
    transform: translateX(-100%);
}

nav.mobile ul.menu > li {
    display: block;
}

nav.mobile ul.menu > li > a {
    width: 10rem;
}

nav.mobile ul.menu > li > button {
    width: 12.5rem;
}

nav.mobile ul.dropdown {
    right: 3rem;
    top: 12rem;
}

nav.mobile ul.dropdown.show {
    transform: translateX(-100%);
}
