.projects-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 28px;
    transition: transform 500ms;
}

.projects-menu > li {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    opacity: 0;
    animation: slide-up 500ms forwards, fade-in 500ms forwards;
}

.projects-menu > li > a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    text-transform: uppercase;
    transition: font-size 500ms;
}

.projects-menu > li > a:hover,
.projects-menu > li > a:focus {
    color: var(--tertiary-color);
    outline: none;
    font-size: 2rem;
}

.projects-menu.hidden {
    transform: translateX(-100%);
}
