.resume-button > a {
    border: 2px solid var(--tertiary-color);
    border-radius: 6px;
    padding: 0.75rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--tertiary-color);
}

.resume-button:hover > a,
.resume-button:focus-within > a {
    outline: none;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);
    /* border-color: var(--secondary-color); */
}