.greeting-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.greeting-title {
    margin-bottom: 0.5rem;
    opacity: 0;
}

.greeting-subtitle {
    margin-top: 0.5rem;
    opacity: 0;
}

.fade-in {
    animation: 2s forwards fade-in;
}

.fade-out {
    animation: 1s forwards fade-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}