<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Search Engine Optimization Meta Tags -->
        <meta name="keywords" content="ethan, ratnofsky, personal, website, portfolio, resume, projects, achievements">

        <title>{% block title %}{% endblock %} - Ethan Ratnofsky's Portfolio</title>
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block scripts %}{% endblock %}
    </body>
</html>